{% extends 'pages/base.html' %}

{% load i18n %}

{% block header %}
    {{ block.super }}{% if tag %}: "{{ tag }}"{% endif %}
{% endblock %}

{% block content %}
        <article class="entry-post">
    {% for obj in qs %}

        <header class="entry-header">
            <h3 class="entry-title">{{ obj }}</h3>
            <div class="byline">
                <i class="fa fa-clock-o"></i> {{ obj.created|date:'DATE_FORMAT' }} &nbsp;&nbsp;
            </div>



        </header>

        <div class="entry-content">
            <div class="video-wrapper">
                <div class="fluid-width-video-wrapper" style="padding-top: 5%;">
                    {{ obj.video_embed_code|safe }}
                </div>
            </div>
            {{ obj.description|linebreaks }}
        </div>

        <footer class="entry-footer">
        </footer>

    {% endfor %}

    <div class="row">
        <div class="large-3 large-offset-5 columns">
            <ul class="pagination">
                {% if qs.has_previous %}
                    <li class="arrow"><a href="?page={{ qs.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="arrow unavailable"><a href="">&laquo;</a></li>
                {% endif %}
                {% for page in qs.paginator.page_range %}
                    {% if page == qs.number %}
                        <li class="current"><a href="?page={{ page }}">{{ page }}</a></li>
                    {% else %}
                        <li><a href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if qs.has_next %}
                    <li class="arrow"><a href="?page={{ qs.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="arrow unavailable"><a href="">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
        </article>
{% endblock %}
